body,html{
  background:white;
}
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo{
display:flex;
height:"300px";
border-radius:25px;
}
.line{

text-align:center;
font-family:"Sofia";
}
#firebaseui_container{
 display:flex;
 overflow-y:scroll;
}
#firebaseui_container h1,p,input{
 font-family:"Sofia";
}
footer{
  position:fixed;bottom:0;left:0;right:0;width:100%;background:black;color:white;font-family:Sofia;text-align:center;font-size:22px;height:5%;
}
#profilecard{
  width:35%;
  height:90%;
  position:absolute;
  top:5%;
  left:5%;
  bottom:5%;
}
#actioncard{
  width:55%;
  height:90%;
  position:absolute;
  top:5%;
  left:40%;
  right:5%;
  bottom:5%;
}
.dashboard{
  width:100%;
  height:100%;
  position:absolute;
  background:#f0f0f0;
  top:0;bottom:0;right:0;left:0;
  display:flex;
}
#dhf{
    position:absolute;bottom:0;left:0;right:0;width:100%;background:black;color:white;font-family:Sofia;text-align:center;font-size:22px;height:5%;
}
#profcen{
  width:100%;
  height:90%;
}
#downboard,#meetinglist{
  width:100%;
  height:100%;
  overflow-y:scroll;
}
.meetuilogo{
  position:absolute;
  top:0;
  left:0;
  height:15%;
}
.preview{
  width:40%;
  position:absolute;
  left:10%;
  top:25%;
  bottom:25%;

}
.preview video{
  object-fit: cover;
  background-color:lightgrey;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
 border-radius:25px;
  pointer-events:none;
}
.info{
  position:absolute;
  left:60%;
  right:10%;
  top:40%;
}
.info{
  text-align:center;
}
.userphoto{
  float:right;
}
.actbutn{
    border:2px solid black;
  border-radius:25px;
}
.ucr{
  position:relative;
  top:0px;
}
.mediafail{
  position:relative;
  bottom:50%;
}
.videoff{
  background-color:lightgrey;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  border-radius:25px;
  pointer-events:none;
  position:absolute;
  top:0;bottom:0;left:0;right:0;
}
.videoff img{
  border-radius:25px;
}
.useravatar{
  position:absolute;
  top:40%;
  left:30%;
}
.hrline{
  position:relative;
  bottom:0;
}
#circback{
  position:absolute;
  right:0;
  bottom:0;
  border:2px solid black;
  border-radius:25px;
  float:right;
  background-color:#ffffff;
}
#circfront{
  position:absolute;
  left:0;
  bottom:0;
  border:2px solid black;
  border-radius:25px;
  float:right;
  background-color:#ffffff;
}
.previewcanvas{
background-color:lightgrey;
width:100%;
height:100%;
margin:0px;
padding:0px;
border-radius:25px;
pointer-events:none;
position:absolute;
top:0;bottom:0;left:0;right:0;
}
